---
import { getCollection } from "astro:content";
import BlogPostCard from "../../components/BlogPostCard";
import PageLayout from "../../layouts/PageLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<PageLayout title="Blog" description="Blog">
  <h2 class="mt-4 text-3xl md:text-6xl font-bold tracking-tighter leading-tight">
    Najnowsze wpisy
  </h2>
  <section class="mt-8">
    <ul class="list-none grid grid-cols-1 md:grid-cols-2 gap-4 mb-8 justify-items-center">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <BlogPostCard
                title={post.data.title}
                description={post.data.description}
                author="Autor Tak"
                date={post.data.pubDate} />  
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</PageLayout>
